[data-cm-theme='winxp'] {
  .cm-btn {
    border-radius: 3px;
    border: 1px solid #003c74;
    padding: 2px 12px;

    &:hover:not(:disabled) {
      border-color: #00138c;
      box-shadow: inset 0 0 2px rgba(255, 255, 190, 0.5);
    }

    &:focus-visible {
      outline: 1px dotted #000000;
      outline-offset: -4px;
    }
  }
}
