[data-cm-theme='winxp'] {
    .cm-taskbar {
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-bottom: none;
        background: linear-gradient(to bottom, #245edc 0%, #3f8cf3 10%, #245edc 30%, #245edc 100%);
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    }

    .cm-taskbar__start-menu {
        border: 1px solid #0a246a;
        border-radius: 4px 4px 0 0;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
        background: linear-gradient(to bottom, #f8fbff 0%, #e3eefc 100%);
    }

    .cm-taskbar__start-menu-resize-handle {
        background: linear-gradient(to bottom, #cdddf7 0%, #9db9ea 100%);
        border-top-color: rgba(10, 36, 106, 0.5);
    }
}
