.cm-context-menu {
  z-index: var(--cm-z-index-menu, 1000);
  position: fixed;

  .cm-popover {
    box-shadow: var(--cm-shadow-popup, 2px 2px 4px rgba(0, 0, 0, 0.2));
  }
}

.cm-context-menu__trigger {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}
