.cm-theme-root[data-cm-theme='win98'] {
  .cm-checkbox {
    font-family: var(--cm-typography-font-family);
    font-size: var(--cm-typography-font-size);
    color: var(--cm-color-text);
    margin-right: var(--cm-spacing-md);
  }

  .cm-checkbox__box {
    background-color: var(--cm-color-text-invert);
    box-shadow: var(--cm-shadow-inset-bevel);
    border-radius: var(--cm-radius-sm);
    border: none;
  }

  .cm-checkbox__check {
    color: var(--cm-color-text);
  }

  .cm-checkbox__input:focus-visible + .cm-checkbox__box {
    outline: 1px dotted var(--cm-color-text);
  }

  .cm-checkbox--disabled {
    color: var(--cm-color-text-muted);
    text-shadow: 1px 1px 0 var(--cm-color-text-invert);

    .cm-checkbox__box {
      background-color: var(--cm-color-surface);
      box-shadow: none;
      border: 1px solid var(--cm-color-border-light);
    }

    .cm-checkbox__input:checked + .cm-checkbox__box .cm-checkbox__check {
      fill: var(--cm-color-text-muted);
      filter: drop-shadow(1px 1px 0 var(--cm-color-text-invert));
    }
  }
}
