[data-cm-theme='win98'] {
  .cm-collapse {
    border: 1px solid var(--cm-color-border-dark);
    background-color: var(--cm-color-surface);
  }

  .cm-collapse-item {
    border-bottom: 1px solid var(--cm-color-border-dark);
  }

  .cm-collapse-header {
    background-color: var(--cm-color-surface);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--cm-color-border-light);
    }
  }

  .cm-collapse-header__icon {
    border: 1px solid var(--cm-color-border-dark);
    background-color: white;
  }

  .cm-collapse-content {
    background-color: white;
    border-top: 1px solid var(--cm-color-border-dark);
  }
}
