[data-cm-theme='win98'] {
  .cm-dropdown-menu {
    background-color: var(--cm-color-surface);
    border: none;
    padding: 2px;
    box-shadow: var(--cm-shadow-outset-bevel);
  }

  .cm-dropdown-item:hover:not(.cm-dropdown-item--disabled) {
    background-color: var(--cm-color-selection-bg);
    color: var(--cm-color-selection-text);
  }

  .cm-dropdown-item--disabled {
    color: var(--cm-color-text-muted);
    text-shadow: 1px 1px 0 var(--cm-color-text-invert);
  }

  .cm-dropdown-divider {
    background-color: var(--cm-color-border-dark);
    border-bottom: 1px solid var(--cm-color-border-lightest);
    height: 1px;
  }
}
