[data-cm-theme='win98'] {
  .cm-popover {
    background-color: var(--cm-color-surface);
    box-shadow: var(--cm-shadow-outset-bevel);
    border: 1px solid var(--cm-color-border-lightest);
    border-right-color: var(--cm-color-border-darkest);
    border-bottom-color: var(--cm-color-border-darkest);
    padding: 2px;
  }

  .cm-popover-arrow {
    display: none;
  }
}
