[data-cm-theme='win98'] {
  .cm-shortcut__label {
    font-family: var(--cm-typography-font-family);
    font-size: var(--cm-typography-font-size);
    color: var(--cm-color-text-invert);
  }

  .cm-shortcut:hover .cm-shortcut__label {
    background-color: rgba(0, 0, 128, 0.5);
  }

  .cm-shortcut:active .cm-shortcut__label,
  .cm-shortcut--selected .cm-shortcut__label {
    background-color: var(--cm-color-selection-bg);
    color: var(--cm-color-selection-text);
    border: 1px dotted var(--cm-color-selection-text);
  }
}
