.cm-theme-root[data-cm-theme='win98'] {
  .cm-taskbar {
    background-color: var(--cm-components-taskbar-bg, #c0c0c0);
    height: var(--cm-components-taskbar-height, 28px);
    border-top: 1px solid var(--cm-components-taskbar-border-light, #ffffff);
    font-family: var(--cm-typography-font-family);
    font-size: var(--cm-typography-font-size);
  }
}
