[data-cm-theme='win98'] {
  .cm-tree {
    font-family: var(--cm-typography-font-family);
    font-size: var(--cm-typography-font-size);
    background-color: var(--cm-color-text-invert);
    border: 1px solid var(--cm-color-border-dark);
    box-shadow: var(--cm-shadow-inset-bevel);
  }

  .cm-tree-node__content:hover {
    background-color: var(--cm-color-selection-bg);
    color: var(--cm-color-selection-text);

    .cm-tree-node__toggle {
      background-color: var(--cm-color-surface);
      color: black;
    }
  }

  .cm-tree-node__indent::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 50%;
    height: 100%;
    border-left: 1px dotted var(--cm-color-border-dark);
  }

  .cm-tree-node__toggle {
    border: 1px solid var(--cm-color-border-dark);
    background-color: var(--cm-color-surface);
  }
}
