.cm-breadcrumb {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
}

.cm-breadcrumb-item {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: default;
  }
}

.cm-breadcrumb-separator {
  margin: 0 4px;
  color: black;
}
