.cm-breadcrumb {
  display: flex;
  align-items: center;
  font-family: var(--cm-typography-font-family);
  font-size: var(--cm-typography-font-size);
}

.cm-breadcrumb-item {
  color: var(--cm-color-text);
  text-decoration: none;
}

.cm-breadcrumb-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cm-breadcrumb-separator {
  margin: 0 4px;
  color: var(--cm-color-text);
}
