.cm-btn {
  /* Layout Structure */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  cursor: default;
  user-select: none;

  /* Native Defaults */
  border: 1px solid #767676;
  background-color: #efefef;
  color: black;
  padding: 2px 6px;
  border-radius: 2px;
  font-family: sans-serif;
  font-size: 13.3333px;

  &:disabled {
    cursor: default;
    color: graytext;
    background-color: #efefef;
    border-color: #767676;
  }
}
