.cm-collapse {
  border: 1px solid #ccc;
  background-color: white;
}

.cm-collapse-item {
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }
}

.cm-collapse-header {
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: default;
  background-color: #f5f5f5;
  user-select: none;

  &:hover {
    background-color: #eee;
  }
}

.cm-collapse-header__icon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 1;
}

.cm-collapse-content {
  padding: 8px;
  background-color: white;
  border-top: 1px solid #ccc;
}
