.cm-dropdown-menu {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 2px 0;
}

.cm-dropdown-item {
  padding: 3px 20px;
  cursor: default;
  user-select: none;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #eee;
  }
}

.cm-dropdown-divider {
  height: 1px;
  background-color: #e5e5e5;
  margin: 2px 0;
}
