.cm-input {
  /* Layout */
  display: inline-block;
  box-sizing: border-box;
  padding: 3px 4px;
  height: 21px; /* Win98 standard height */

  /* Typography */
  font-family: var(--cm-typography-font-family);
  font-size: var(--cm-typography-font-size);
  line-height: var(--cm-typography-line-height);
  color: var(--cm-color-text);

  /* Visuals */
  background: var(--cm-color-text-invert); /* White usually */
  border: none;
  box-shadow: var(--cm-shadow-inset-bevel);
  outline: none;

  -webkit-font-smoothing: none;
}

.cm-input:disabled {
  background: var(--cm-color-surface);
  color: var(--cm-color-text-muted);
}

.cm-input::placeholder {
  color: var(--cm-color-text-muted);
}
