.cm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Dimmed background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.cm-modal-content {
  min-width: 300px;
  max-width: 90vw;
  max-height: 90vh;
}
