.cm-popover {
  position: absolute;
  z-index: 1000;
  background-color: var(--cm-color-surface);
  box-shadow: var(--cm-shadow-outset-bevel);
  border: 1px solid var(--cm-color-border-lightest);
  border-right-color: var(--cm-color-border-darkest);
  border-bottom-color: var(--cm-color-border-darkest);
  padding: 2px;
}

.cm-popover-arrow {
  display: none; /* Win98 popovers usually don't have arrows */
}
