.cm-radio {
  display: inline-flex;
  align-items: center;
  cursor: default;
  user-select: none;
  font-family: sans-serif;
  font-size: 14px;
  margin-right: 8px;
}

.cm-radio__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.cm-radio__circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #767676;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cm-radio__dot {
  display: none;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

.cm-radio__input:checked + .cm-radio__circle .cm-radio__dot {
  display: block;
}

.cm-radio__input:focus-visible + .cm-radio__circle {
  outline: 1px dotted black;
  outline-offset: 2px;
}
