.cm-radio {
  display: inline-flex;
  align-items: center;
  cursor: default;
  user-select: none;
  font-family: var(--cm-typography-font-family);
  font-size: var(--cm-typography-font-size);
  color: var(--cm-color-text);
  margin-right: var(--cm-spacing-md);
}

.cm-radio__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.cm-radio__circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--cm-color-text-invert);
  /* Win98 Radio is tricky: It has a specialized inset look */
  box-shadow:
    inset 1px 1px 0 var(--cm-color-border-dark),
    inset 2px 2px 0 var(--cm-color-border-darkest),
    inset -1px -1px 0 var(--cm-color-border-lightest),
    inset -2px -2px 0 var(--cm-color-border-light);
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cm-radio__dot {
  display: none;
  width: 4px;
  height: 4px;
  background-color: var(--cm-color-text);
  border-radius: 50%;
}

.cm-radio__input:checked + .cm-radio__circle .cm-radio__dot {
  display: block;
}

.cm-radio__input:focus-visible + .cm-radio__circle {
  outline: 1px dotted var(--cm-color-text);
  outline-offset: 2px;
}

.cm-radio--disabled {
  color: var(--cm-color-text-muted);
  text-shadow: 1px 1px 0 var(--cm-color-text-invert);
}

.cm-radio--disabled .cm-radio__circle {
  background-color: var(--cm-color-surface);
  box-shadow: none;
  border: 1px solid var(--cm-color-border-dark); /* Simplification */
}

.cm-radio--disabled
  .cm-radio__input:checked
  + .cm-radio__circle
  .cm-radio__dot {
  background-color: var(--cm-color-text-muted);
}
