.cm-select {
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  min-width: 120px;
  user-select: none;
}

.cm-select__trigger {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #767676;
  border-radius: 2px;
  padding: 2px;
  height: 22px;
  cursor: default;
}

.cm-select__value {
  flex: 1;
  padding-left: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cm-select__arrow-btn {
  width: 16px;
  height: 18px;
  background-color: #efefef;
  border: 1px solid #767676;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
  cursor: default;

  &:active {
    background-color: #ccc;
  }
}

.cm-select__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #767676;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.cm-select__option {
  padding: 2px 4px;
  cursor: default;

  &:hover,
  &--selected {
    background-color: #0078d7;
    color: white;
  }
}
