.cm-shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72px;
  cursor: default;
}

.cm-shortcut__icon {
  width: 32px;
  height: 32px;
  background-color: transparent;
  margin-bottom: 4px;
}

.cm-shortcut__label {
  font-family: sans-serif;
  font-size: 12px;
  color: black;
  text-align: center;
  padding: 0 2px;
  border: 1px solid transparent;
}
