.cm-spin {
  display: inline-block;
}

.cm-spin-hourglass {
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  border-top-color: transparent;
  animation: cm-spin-rotate 1s linear infinite;
}

@keyframes cm-spin-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
