.cm-splitter {
  background-color: #ccc;
  position: relative;
  touch-action: none;
  z-index: 10;
}

.cm-splitter--vertical {
  width: 4px;
  cursor: col-resize;
  /* Visual handle usually */
}

.cm-splitter--horizontal {
  height: 4px;
  cursor: row-resize;
}
