.cm-text {
  font-family: var(--cm-typography-font-family);
  color: var(--cm-color-text);
  margin: 0;
}

.cm-text--h1 {
  font-size: 2em;
  font-weight: bold;
}
.cm-text--h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.cm-text--h3 {
  font-size: 1.17em;
  font-weight: bold;
}
.cm-text--h4 {
  font-size: 1em;
  font-weight: bold;
}
.cm-text--h5 {
  font-size: 0.83em;
  font-weight: bold;
}
.cm-text--h6 {
  font-size: 0.67em;
  font-weight: bold;
}
.cm-text--body {
  font-size: var(--cm-typography-font-size);
}

.cm-text--bold {
  font-weight: bold;
}
.cm-text--italic {
  font-style: italic;
}
