.cm-transfer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cm-transfer__list {
  width: 150px;
  height: 200px;
  border: 1px solid #767676;
  background-color: white;
  overflow-y: auto;
  padding: 2px;
}

.cm-transfer__item {
  padding: 2px 4px;
  cursor: default;
  user-select: none;

  &:hover {
    background-color: #eee;
  }
}

.cm-transfer__item--selected {
  background-color: #0078d7;
  color: white;
}

.cm-transfer__actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
