.cm-tree {
  font-family: var(--cm-typography-font-family);
  font-size: var(--cm-typography-font-size);
  background-color: var(--cm-color-text-invert);
  border: 1px solid var(--cm-color-border-dark);
  box-shadow: var(--cm-shadow-inset-bevel);
  padding: 4px;
  overflow: auto;
}

.cm-tree-node {
  display: flex;
  flex-direction: column;
}

.cm-tree-node__content {
  display: flex;
  align-items: center;
  padding: 1px 0;
  cursor: default;
}

.cm-tree-node__content:hover {
  background-color: var(--cm-color-selection-bg);
  color: var(--cm-color-selection-text);
}

.cm-tree-node__content:hover .cm-tree-node__toggle {
  background-color: var(--cm-color-surface); /* Keep toggle button visible */
  color: black;
}

.cm-tree-node__indent {
  width: 16px;
  height: 1px; /* Placeholder for lines */
  display: inline-block;
  position: relative;
}

/* Vertical dotted line */
.cm-tree-node__indent::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 50%;
  height: 100%;
  border-left: 1px dotted var(--cm-color-border-dark);
}

.cm-tree-node__toggle {
  width: 9px;
  height: 9px;
  border: 1px solid var(--cm-color-border-dark);
  background-color: var(--cm-color-surface);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  font-size: 8px;
  line-height: 1;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.cm-tree-node__label {
  padding: 0 2px;
  user-select: none;
}
