.cm-tree {
  font-family: sans-serif;
  font-size: 14px;
  background-color: white;
  border: 1px solid #767676;
  padding: 4px;
  overflow: auto;
}

.cm-tree-node {
  display: flex;
  flex-direction: column;
}

.cm-tree-node__content {
  display: flex;
  align-items: center;
  padding: 1px 0;
  cursor: default;

  &:hover {
    background-color: #eee;
  }
}

.cm-tree-node__indent {
  width: 16px;
  height: 1px;
  display: inline-block;
  position: relative;
}

.cm-tree-node__toggle {
  width: 9px;
  height: 9px;
  border: 1px solid #767676;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  font-size: 8px;
  line-height: 1;
  cursor: default;
  position: relative;
  z-index: 1;
}

.cm-tree-node__label {
  padding: 0 2px;
  user-select: none;
}
