.cm-window-menu {
  display: flex;
  background-color: #f5f5f5;
  padding: 1px 0;
  border-bottom: 1px solid #e0e0e0;
  user-select: none;
}

.cm-window-menu__item {
  padding: 2px 6px;
  cursor: default;
  position: relative;

  &:hover {
    background-color: #eee;
  }
}
